/* App.css - Minimal reset */
@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Boska";
  src: url("/fonts/Boska-Medium.otf") format("opentype");
  font-weight: 500; /* Medium weight */
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
  font-family: var(--font-body);
  background-color: var(--background);
}

main {
  width: 100%;
}
